.doc, .doc-nav, .doc-body {
  margin-top: 2em;
  margin-bottom: 2em;
}
.doc-nav {
  position: fixed;
  margin-left: 1em;
  width: 140pt;
  background-color: #fff;
  border: solid 1px #efefef;
  border-radius: .5em;
  font-size: smaller;
  box-shadow: 2px 2px 5px #ccc;
}

.doc-nav > .panel {
  background: none;
  border: 0;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
}
.doc-nav > .panel-default {
  border-bottom: solid 1px #efefef;
  border-radius: 0;
}

.doc-body, .post-content {
  margin-bottom: 4em;
}

.img-center {
  margin: 0 auto;
  display: block;
}
.img-wrap-right {
  float: right;
  display: block;
  padding-left: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.img-wrap-left {
  float: left;
  display: block;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
}

#content h1, #content h2, #content h3, #content h4 {
   clear: both;
}

#content table.values {
  background: #f5f5f5;
  border-radius: .5em;
  border: none;
}

/* override #service when in .doc-body */
.doc-body #service {
  padding: 0 0 0 0;
  text-align: left;
}
