.doc, .doc-nav, .doc-body {
  margin-top: 2em;
  margin-bottom: 2em;
}
.doc-nav {
  position: fixed;
  background-color: #efefef;
  border: solid 1px #ddd;
  border-radius: .5em;
  font-size: smaller;
  box-shadow: 2px 2px 5px #888;
}

.doc-nav > .panel {
  background: none;
  border: 0;
  box-shadow: none;
  margin-top: 0;
  margin-bottom: 0;
}
.doc-nav > .panel-default {
  border-bottom: solid 1px #ffffff;
  border-radius: 0;
}

.doc-body, .post-content {
  margin-bottom: 4em;
}
