<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">Home</a></li>
            <li><a href="{{ site.baseurl }}/concepts/">Concepts</a></li>
            <li><a href="{{ site.baseurl }}/docs/">How It Works</a></li>
          </ul>
        </div>
        <i>
        Reflex &trade; and content Copyright &copy; Protos Data+Security Solutions.<p>
        <span style="font-size: 5pt;">Page Design Developed and Copyright by <a href="http://www.themefisher.com">Themefisher</a></span>
       </i>
      </div>
    </div>
  </div>
</footer>
