<div class="panel panel-default">

<div role="tab" id="navHdrWhy"><a href="/why/"><b>* Why?</b></a></div>

&nbsp;&rsaquo; <a href="/why/helicopters/">Helicopters?</a><br/>
&nbsp;&rsaquo; <a href="/why/iac/">Infrastructure as Code</a><br/>
&nbsp;&rsaquo; <a href="/why/state/">The State Challenge</a><br/>
&nbsp;&rsaquo; <a href="/why/loose-coupling/">Loose Coupling</a><br/>
&nbsp;&rsaquo; <a href="/why/soa/">Service Oriented</a><br/>
&nbsp;&rsaquo; <a href="/why/security/">Modern Security</a><br/>
&nbsp;&rsaquo; <a href="/why/ephemeral/">Ephemeral App</a><br/>

<div role="tab" id="navHdrWhy"><b><a href="/docs/">* How?</a></b></div>
<div role="tab" id="navHdrWhy"><b><a href="/contact/">* Contact</a></b></div>
</div>
</div>
